<style type="text/css">
  .contract{
    width:100%;
    background-color: white;
    padding:20px 60px;
  }

  .contract-theme{
    text-align: center;
    font-size: 16px;
  }

  .contract-title{
    font-size: 14px;
    color:#333;
    margin-top:16px;
    margin-bottom: 5px;
  }

  .contract-content{
    font-size: 12px;
    color:#666;
  }

  .contract p{
    line-height: 24px;
    margin-bottom: 0;
  }
  .contract-key{
    color:#333;
    text-decoration: underline;
  }

  .value-line{
    width:140px;
    border-bottom: 1px solid #000;
    display: inline-flex;
    margin-left:5px;
  }

  .two-words{
    text-indent:2em;
  }

</style>

<div class="contract">
  <div class="contract-theme">分期消费协议（一般条款）</div>
  <div class="contract-title" style="margin-top:20px;">xx分期</div>
  <p class="contract-content">
    本协议是指符合甲方（<span class="contract-key">上海xx科技有限公司</span>）信用审核条件，
    向甲方购买相关产品或服务并享受相应分期付款权利的个人用户（也即本合同下的乙方）与甲方或甲方关联方（包括与甲方有股权关联、业务关联的企业，或者第三方服务机构等）之间就乙方购买甲方所销售的商品或所提供的服务，
    并依据本协议就该商品或服务可以进行分期或延期付款相关事宜所订立的契约。乙方完成电子或纸质协议签约之后，
    本协议即构成对各方具有约束力的法律文件。
  </p>

  <div class="contract-title">一  授权与承诺</div>
  <div class="contract-content">
    <p>乙方在向甲方明确对于甲方进行如下授权:</p>
    <p>1．授权甲方或者甲方委托的第三方通过合法渠道了解、咨询、审查乙方的资信状况、财务状况和其他付款能力有关的信息；</p>
    <p>2．<span class="contract-key">乙方授权并同意甲方和其合作伙伴随时查询、复制、使用乙方的个人信用报告，授权并同意甲方和甲方合作伙伴将甲方有关信用信息报送至相应的金融信用信息基础数据库或其他征信记录系统等。</span>
      授权甲方向相关金融机构提供、披露乙方相关信息；
    </p>
    <p>3．乙方授权甲方通过第三方支付公司对乙方应向甲方支付的每期还款进行银行卡批扣（乙方另外向甲方提供《扣款授权书》；</p>
    <p>4．乙方无条件同意，甲方可以向第三方转让本合同项下的权利与义务；</p>
    <p>5．<span class="contract-key">在合约期内，如乙方构成违约，乙方同意甲方或甲方的合作伙伴采取公告、委托代理清欠机构清收、提起诉讼、录入个人征信等方式追究违约责任，
      由此发生的费用（包括但不限于诉讼/仲裁费用、律师费用、调查取证费用、差旅费及其他合理费用）由甲方承担。</span></p>
  </div>

  <div class="contract-title">二  购买标的</div>
  <div class="contract-content">
    <p>1．本合同购买标的为甲方向乙方销售并向乙方提供相关分期付款服务的商品与服务，购买的标的的名称、型号、价格等详细信息如协议申请表所示，本合同亦可以称为“商品”；</p>
    <p>2．购买标的的交付：如果商品无需送货及安装，则乙方同意，乙方在签署完本合同即代表乙方已经在甲方指定的营业场所接受本合同的购买标的，也即甲方已经完成本合同的购买标的对乙方的交付；若商品需送货和（或）安装，则乙方同意，乙方完成对商品的物流签收即代表商品已完成交付（交付方式包括但不限于快递签收、送货单签名、物流配送方的配送记录等）；</p>
    <p>3．<span class="contract-key">购买标的质量与售后：乙方知晓并同意，该商品自交付之日（以购买标的物流签收为标准）起损毁、灭失等所有风险由乙方承担；在商品毁损灭失后乙方应继续履行本协议，直至所有款项偿清；如果商品存在质量问题的，乙方承诺自行按照商品随附保修证书申请售后服务，无需甲方承担任何责任；乙方不得以商品质量问题为由拒绝支付商品分期款；本合同未尽事宜，按照国家三包政策执行。</span></p>
    <p>4．<span class="contract-key">商品发票：若乙方需甲方提供本协议项下商品发票，可联系甲方客服电话：021-68826973。（服务时间为国家法定工作日9:00-12:00,13:00-17:30）</span></p>
  </div>

  <div class="contract-title">三  各方权责</div>
  <div class="contract-content">
    <p>1．甲方权利与义务</p>
    <p class="two-words">(1)    甲方有权根据相关适用法律以及乙方的相关授权，将在分期付款服务关系建立和存续期间获得的用户的个人基本信息、债务信息、信用信息等有关信息提供给相关政府管理部门、行业监督管理机构或其他合法设立的征信管理机构等；</p>
    <p class="two-words">(2)    甲方对乙方的个人基本信息、债务信息、信用信息有权予以保留，甲方对该等信息负有保密的义务，除根据相关法律法规、本协议的相关约定、或出于为乙方提供更好的分期付款服务之目的、需将乙方信息进行对外提供的情形之外，未经乙方允许，甲方不得擅自将乙方信息披露或提供给其他第三方；</p>
    <p class="two-words">(3)    甲方承诺向乙方提供的商品为符合国家相关质量要求的商品。</p>
    <p class="two-words">(4)    甲方有权要求乙方严格按照本合同约定及时、足额归还相关款项，若乙方未及时、足额向甲方支付各款项，甲方有权按照本合同约定对乙方进行收取违约金、追缴或采取其他合法措施。</p>
    <p>2．乙方的权利与义</p>
    <p class="two-words">(1)    有权要求甲方对乙方提供的有关信息予以保密，但法律法规另有规定、乙方予以授权、或本协议另有约定的除外。</p>
    <p class="two-words">(2)    享有甲方对分期付款服务所承诺的各项服务。有权知悉分期付款服务的功能、使用方法，收费项目、收费标准、适用费率及相关的计算规则。</p>
    <p class="two-words">(3)    承诺向甲方提供真实、有效的资料。如迁往异地、工作变动、通讯地址及电话变更、单位名称变更、电子邮箱或身份证件号码变更等，应及时通知甲方。</p>
    <p class="two-words">(4)    乙方承诺知晓本合同的法律严肃性，乙方不得以非法套现、非法获取不正当利益为目的，通过非法、不正当操作或与非法商户、非法中介组织、其他第三方等串通合作，违反分期付款服务规则及各项管理规定，否则由此导致的损失及相关后果由乙方承担。 </p>
    <p class="two-words">(5)    乙方应按时、足额向甲方支付分期付款服务项下的应付款项（包括但不限于本金、分期服务费、违约金等），不得以商品纠纷为由拒绝支付分期付款服务项下的应付款项；</p>
    <p class="two-words">(6)    乙方应履行本合同约定的其他各项义务。</p>
  </div>

  <div class="contract-title">四  分期费用的偿还与支付</div>
  <div class="contract-content">
    <p>1．乙方应将每一期分期款在还款到期日之前支付至指定的还款账户，还款时间以指定还款账户实际收到乙方所付款项的到账时间为准。因此，乙方应该考虑提早将期款转入指定还款账户，以保证期款准时足额到账。</p>
    <p>2．乙方应妥善保管本合同项下已还款项的付款证明。发生争议的，由乙方对其还款情况承担举证责任。</p>
    <p>3．提前还款事宜按照本合同第六条相关约定为准。</p>
  </div>

  <div class="contract-title">五  违约处理</div>
  <div class="contract-content">
    <p>1．甲方有权通过信函、短信、电子邮件、电话、上门或司法途径等方式向乙方催收应付款项。乙方同意甲方有权授权第三方通过手机短信、 站内信、电话提醒、上门外访和寄送信函等方式，督促用户按时支付所有应付款项，包括但不限于消费本金、分期服务费、违约金等，其中手机短信、站内信在发出时即视为送达。</p>
    <p>2．如果乙方未按照本合同履行还款义务，应立即偿还拖欠款项，并按本条规定向甲方支付违约金。具体计算公式为：违约金(日)  = 应付未付总额(本金+分期服务费) × 0.05%，违约金(日) 不足0.01元时按0.01元收取；总违约金=违约金(日) × 违约天数。 用户支付应付款金额时，甲方将按照违约金(如有) 、分期服务费(如有) 、消费本金的顺序进行冲抵。</p>
  </div>

  <div class="contract-title">六  特殊事项</div>
  <div class="contract-content">
    <p>1．提前还款</p>
    <p>乙方可以提前偿还本合同项下的部分或所有分期款项，具体情况如下执行：</p>
    <p>(1)    部分提前偿还：乙方提前偿还部分款项无需向甲方申请，乙方同意，甲方收到乙方款项之后默认按以下方式冲抵而无需与乙方协商：违约金（若有）、服务费（若有）、应付未付分期款、本期分期款、尚未到期的分期款；</p>
    <p>(2)    全部提前偿还：若需全部提前偿还，乙方应在提前还款到期日的三日之前通过客服电话向甲方申请提前还款，并授权其向乙方办理提前还款手续。甲方将告知消费者具体的提前还款金额。经甲方同意，乙方需在3个工作日之内将剩余款项（如违约金、服务费、商品分期款等）一次性支付甲方； </p>
    <p>2．商品返修</p>
    <p>乙方因购买的商品发生质量问题需要维修时，因及时联系本合同申请表中列明的经销商（或者商品生产厂家）提出维修申请。乙方承诺不因商品质量、维修、售后等原因做为不偿还本合同还款的依据；如乙方因此事未能及时还款，按照违约处理。</p>
    <p>3．商品退货</p>
    <p>商品因质量问题在商品安装后约定天数内内需退货的，乙方因及时联系经销商或者商品生产厂家，提出退货申请，并同时告知甲方；甲方经确认无误后将乙方已经支付的首付款、已支付的商品分期款等退回给乙方，服务费不予退还。</p>
    <p></p>
    <p></p>
    <p></p>
  </div>

  <div class="contract-title">七  名词释义</div>
  <div class="contract-content">
    <p>商品总价格：甲乙双方约定的商品购买价格及双方同意的其他费用。</p>
    <p>首付款：乙方应根据本合同约定支付首付款，首付款不计利息，计算分期款时扣除首付款。</p>
    <p>保证金：乙方向甲方支付保证金作为履行本合同的保证，乙方同意，针对该保证金甲方不向乙方支付任何利息。</p>
    <p>服务费：乙方应依约向甲方支付服务费，该服务费自乙方支付之日即视为甲方已赚取，不予退还，甲方同意情况除外。</p>
    <p>还款日：按照合同约定，乙方每月定期偿还分期款之日。</p>
    <p>分期款：商品总价格与首付款之差。</p>
    <p>违约金：当乙方未按本合同约定支付到期每月分期款及其他款项，延迟期间就迟付部分乙方向甲方支付延迟付款的罚款。</p>
  </div>

  <div class="contract-title">八  本协议一式二份，甲乙双方各执一份，具备同等法律效应；本协议的生效前提为：1）合同经甲方盖章、经乙方签名；3）乙方已完成对甲方的首付款、服务费等期初费用的支付；若甲方发现乙方存在明显的欺诈或违约情形，有权单方面终止本协议。</div>

</div>
