<style type="text/css">
  .contract{
    width:100%;
    background-color: white;
    padding:20px 60px;
  }

  .contract-theme{
    text-align: center;
    font-size: 16px;
  }

  .contract-title{
    font-size: 14px;
    color:#333;
    margin-top:16px;
    margin-bottom: 5px;
  }

  .contract-content{
    font-size: 12px;
    color:#666;
  }

  .contract p{
    line-height: 24px;
    margin-bottom: 0;
  }
  .contract-key{
    color:#333;
    text-decoration: underline;
  }

  .value-line{
    width:140px;
    border-bottom: 1px solid #000;
    display: inline-flex;
    margin-left:5px;
  }

  .two-words{
    text-indent:2em;
  }

  .grant-title{
    padding-top:12px;
  }
  .grant-title >*{
    margin-bottom: 12px;
  }

  .promise{
    margin-top:20px;
    line-height: 24px;
  }

  .grant-sign{
    font-size: 14px;
    margin-top:40px;
  }
  .grant-sign>*{
    margin-bottom: 20px;
  }

</style>

<div class="contract">
  <div class="contract-theme">委托扣款授权书</div>
  <div class="contract-title" style="margin-top:30px;">编号:<div class="value-line"></div></div>
  <div class="contract-content grant-title">
    <div><span style="font-size: 14px;">致：</span> <span class="contract-key">上海xx科技有限公司</span> （即扣款发起方，以下简称“甲方”）</div>
    <div><span style="font-size: 14px;">被扣款方名称：</span><div class="value-line" style="width:300px;"></div></div>
    <div><span style="font-size: 14px;">被扣款方有效证件类型：</span><div class="value-line" style="width:240px;"></div><span>（身份证或其他有效身份证件/营业执照）</span></div>
    <div><span style="font-size: 14px;">被扣款方有效证件号码：</span><div class="value-line" style="width:240px;"></div><span>（身份证或其他有效身份证件号码/营业执照号码）</span></div>
  </div>

  <p class="contract-content two-words" style="margin-top:30px;">
    本人（法人/自然人）作为授权人（以下简称“乙方”）授权甲方通过中金支付有限公司（合法成立的第三方支付机构）及中金支付有限公司的合作银行（本授权书中为被扣款方开户银行）从本人以下账户中扣划本人应付款项。为执行上述约定以保障各方的权益，本人特此授权及承诺如下：
    本人已指定本人名下的如下账户为付款账户（以下简称“被扣款方账户”）：
  </p>

  <div class="contract-content grant-title">
    <div><span>被扣款方户名：</span><div class="value-line" style="width:240px;"></div><span>（必须同本人/本企业名称相同）；</span></div>
    <div><span>被扣款方账号：</span><div class="value-line" style="width:240px;"></div><span>；</span></div>
    <div><span>被扣款方开户银行：</span><div class="value-line"></div><span>银行</span><div class="value-line"></div><span>分行</span><div class="value-line"></div><span>支行；</span></div>
    <div><span>被扣款方开户银行所在省份及城市：</span><div class="value-line"></div><span>省（自治区/直辖市）</span><div class="value-line"></div><span>市；</span></div>
  </div>

  <div class="contract-content two-words promise">
    本人同意由甲方通过中金支付有限公司及中金支付有限公司的合作银行（本授权书中为被扣款方开户银行）从以上指定账户中主动扣收本人与甲方于<div class="value-line"></div>日签署的编号为： <div class="value-line"></div>的《分期消费协议》中约定的本人各项应付款项，即设备费、本金、分期服务费、违约金等，届时被扣款方开户银行无须获得本人的同意也无须事先通知本人，并无需本人向被扣款方开户银行进行扣款授权。由本人与甲方关于资金代扣而产生的任何法律纠纷均与中金支付有限公司无关，中金支付有限公司不承担任何责任。
  </div>

  <div class="contract-content">
      <p class="two-words">
        本人承担因被扣款方账户余额不足或被查封冻结导致无法按时足额扣款而导致的任何法律责任。本人保证上述资金扣收符合国家法律法规，本人不会利用上述扣收操作开展任何违法犯罪活动。本人同意为完成资金代扣操作，甲方有权合理使用并向中金支付有限公司及中金支付有限公司的合作银行（本授权书中为被扣款方开户银行）披露本授权书全部内容及其他为完成资金代扣操作而必要的本人信息。
      </p>
      <p class="two-words">
        本授权书自签署之日起即持续有效，直至本人与甲方一致书面同意变更（对于本授权书的变更仅限于变更被扣款方账户信息，但变更后账户必须同本人/本企业名称相同）、终止本授权书并由甲方将变更、终止本授权书的书面说明（以下简称“说明”）向中金支付有限公司提供并由中金支付有限公司实际收到说明之日，本授权书变更、终止。
      </p>
      <p class="two-words">
        本授权书适用中华人民共和国法律，有关本授权书的一切争议应由有管辖权的人民法院管辖。
      </p>
  </div>

  <div class="grant-sign">
    <div><span>被扣款方（自然人）签字：</span><div class="value-line" style="width:362px;"></div></div>
    <div><span>被扣款方（法人）法定代表人或授权代表签字：</span><div class="value-line" style="width:240px;"></div></div>
    <div><span>被扣款方（法人）公章：</span><div class="value-line" style="width:380px;"></div></div>
    <div><span>上海xx信息科技有限公司（公章）：</span><div class="value-line" style="width:296px;"></div></div>
  </div>

  <div style="margin-top:10px;padding-right:20px;height:30px;" class="contract-content">
    <div style="float:right;">
      <div class="value-line" style="width:60px;"></div>年
      <div class="value-line" style="width:60px;"></div>月
      <div class="value-line" style="width:60px;"></div>日
    </div>
  </div>

</div>

