<style type="text/css">

  .check-condition{
    width:100%;
    background-color: white;
    font-size: 14px;
  }

  .form-group{
    background-color: white;
  }

  .check-condition .row{
    padding:10px 0;
    margin-left:0;
    margin-right:0;
  }

  .label-input >*{
    display: inline-block;
  }

  .label-input{
    float:left;
  }

  .date-select{
    width:192px;
  }

  .status-ban{
    width:100%;
    height:50px;
    background-color: white;
    margin-top:10px;
    clear: both;
    padding-right:20px;
    padding-top:10px;
  }

  .table{
    margin-top:2px;
  }
  .table th{
    background-color: #e7e7e7;
    border:1px solid #ccc!important;
    color:#5e5e5e;
    font-weight: 500;
  }

  .table td{
    border:1px solid #ccc;
    font-size: 14px;
    background-color: white;
  }

</style>


<div class="check-condition form-inline">
  <div class="row">
    <div class="form-group col-xs-4 col-md-4">
      <label class="control-label">商户名称</label>
      <input class="form-control" type="text"  placeholder="输入商户或店铺名称／ID" maxlength="20">
    </div>

    <div class="form-group col-xs-6 col-md-6">
      <div class="label-input">
        <label class="control-label">创建时间:</label>
        <div class="date-select" id="datetimepicker1">
          <div class="input-group">
            <input type="text" class="form-control" readonly id="startDate">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </span>
          </div>
        </div>
      </div>
      <span style="float:left;display: block;padding-top:7px;">-</span>
      <div class="label-input">
        <div class="date-select" id="datetimepicker2">
          <div class="input-group">
            <input type="text" class="form-control" readonly id="endDate">
                <span class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </span>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group col-xs-2 col-md-2">
      <button type="button" class="btn btn-info">查询</button>
    </div>
  </div>
</div>

<div class="status-ban">
  <div class="pull-right">
    <a href="/#/supplier/add">
      <button type="button" class="btn btn-info">新增商户</button>
    </a>
    <button type="button" class="btn btn-info">删除商户</button>
  </div>
</div>

<table class="table table-hover supplier-table">
  <thead>
  <tr>
    <th>商户ID</th>
    <th>商品名称</th>
    <th>联系方式</th>
    <th>创建时间</th>
    <th>状态</th>
    <th>门店</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
    <tr ng-click="detail()">
      <td><input type="checkbox">&nbsp;&nbsp;S0001</td>
      <td>苹果大中华区经销商</td>
      <td>13012341234</td>
      <td>2016/01/01 10:00</td>
      <td>正常</td>
      <td>0</td>
      <td>
        <a href="#">编辑</a>&nbsp;&nbsp;
        <a href="javascript:void(0);" class="del">删除</a>&nbsp;&nbsp;
        <a href="#">冻结</a>&nbsp;&nbsp;
        <a href="#">添加门店</a>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox">&nbsp;&nbsp;S0001</td>
      <td>苹果大中华区经销商</td>
      <td>13012341234</td>
      <td>2016/01/01 10:00</td>
      <td>正常</td>
      <td>10</td>
      <td>
        <a href="#">编辑</a>&nbsp;&nbsp;
        <a href="#">激活</a>&nbsp;&nbsp;
        <a href="#">查看门店</a>
      </td>
    </tr>
  </tbody>

</table>


<!--模态框-->
<div class="container">
  <div class="row">
    <div id="delDialog" class="modal fade" data-backdrop="true" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:50px;;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">您确定删除此商户?</div>
        </div>
      </div>
    </div>
  </div>
</div>

