<style type="text/css">
  .supplier-form button{
    width:90px;
    margin-right:30px;
  }

  .supplier-form label{
    text-align: right;
  }
</style>

<form class="form-group form-horizontal supplier-form" role="form">
    <div class="col-md-offset-2" style="font-size: 18px;font-weight: 500;">
        <p>苹果大中华区经销商</p>
    </div>

  <div class="form-group">
    <label class="col-xs-2 col-md-2">商户ID</label>
    <div class="col-xs-4 col-md-4">S00001</div>
  </div>

  <div class="form-group">
    <label class="col-xs-2 col-md-2">门店数量</label>
    <div class="col-xs-4 col-md-4">5</div>
  </div>

  <div class="form-group">
    <label class="col-xs-2 col-md-2">所属行业</label>
    <div class="col-xs-4 col-md-4">电子产品</div>
  </div>

  <div class="form-group">
    <label class="col-xs-2 col-md-2">联系人</label>
    <div class="col-xs-4 col-md-4">范骏</div>
  </div>

  <div class="form-group">
    <label class="col-xs-2 col-md-2">联系方式</label>
    <div class="col-xs-4 col-md-4">18702121893</div>
  </div>

  <div class="form-group">
    <label class="col-xs-2 col-md-2">门店地址</label>
    <div class="col-xs-8 col-md-8">上海市浦东新区张江镇/div>
  </div>

  <div class="form-group">
    <label class="col-xs-2 col-md-2">商户介绍</label>
    <div class="col-xs-8 col-md-8">上海市浦东新区张江镇</div>
  </div>

  <div class="form-group" style="margin-top:30px;">
    <div style="padding-left:250px;">
      <a href="/#/supplier/add">
        <button type="button" class="btn btn-info">编辑</button>
      </a>
      <a href="/#/shop/list">
        <button type="button" class="btn btn-info">查看分店</button>
      </a>

    </div>
  </div>

</form>
