<style type="text/css">
  .tip{
    font-size: 14px;
    color:red;
  }

  .table{
    margin-top:2px;
  }
  .table th{
    background-color: #e7e7e7;
    border:1px solid #ccc!important;
    color:#5e5e5e;
    font-weight: 500;
  }

  .table td{
    border:1px solid #ccc;
    font-size: 14px;
    background-color: white;
  }

</style>

<div class="tip">*合同内容为响应式布局，可以直接移植到移动端的展示上。</div>
<table class="table table-hover">
  <thead>
  <tr>
    <th>合同模板ID</th>
    <th>模板名称</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
    <tr ng-click="detail('table')">
      <td>MSG000001</td>
      <td>分期消费协议</td>
      <td>
        <a href="javascript:void(0);">详情</a>&nbsp;&nbsp;
        <a href="javascript:void(0);" class="del">删除</a>
      </td>
    </tr>
    <tr ng-click="detail('clause')">
      <td>MSG000002</td>
      <td>分期消费协议(一般条款)</td>
      <td>
        <a href="javascript:void(0);">详情</a>&nbsp;&nbsp;
        <a href="javascript:void(0);" class="del">删除</a>
      </td>
    </tr>
    <tr ng-click="detail('grant')">
      <td>MSG000003</td>
      <td>委托扣款授权书</td>
      <td>
        <a href="javascript:void(0);">详情</a>&nbsp;&nbsp;
        <a href="javascript:void(0);" class="del">删除</a>
      </td>
    </tr>
  </tbody>
</table>


<!--模态框-->
<div class="container">
  <div class="row">
    <div id="delDialog" class="modal fade" data-backdrop="true" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="top:50px;;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">您确定删除此商户?</div>
        </div>
      </div>
    </div>
  </div>
</div>
