<style type="text/css">
  .check-btn{
    background-color: #FEA600;
    border:1px solid #FEA600;
    color:white;
  }

  .category-tree{
    width:400px;
    height:420px;
    overflow-y: auto;
    border:1px solid #ccc;
    background-color: white;
    margin-top:20px;
    margin-left:80px;
  }

  .node-check{
    padding-left:20px;
  }

</style>

<div class="row form-inline node-check">
    <span>类目名称</span>&nbsp;&nbsp;
    <div class="input-group">
      <input type="text" class="form-control" placeholder="类目名称" maxlength="10">
          <span class="input-group-btn">
            <button class="btn btn-default check-btn" type="button">
              <img src="/images/search_icon.png" width="20" height="20">
            </button>
          </span>
    </div>
</div>

<!--树结构-->
<div class="category-tree">
  <h3>-->树结构菜单插件</h3>

</div>
