 <style type="text/css">
    .show-box{
        margin:40px auto; 
        float:none; 
        background:#fff; 
        padding:30px;
    }

</style>


 <!-- 测试页 -->
<div style="text-align:center;">

	<h3>测试页</h3>
	<div>
	    <a href="javascript:void(0);" data="1" ng-click="goPage($event)">1</a>
	    <a href="javascript:void(0);" data="2" ng-click="goPage($event)">2</a>
	    <a href="javascript:void(0);" data="3" ng-click="goPage($event)">3</a>
	    <a href="javascript:void(0);" data="4" ng-click="goPage($event)">4</a>
	    <a href="javascript:void(0);" data="5" ng-click="goPage($event)">5</a>
	</div>


    <h3>分页(bootstrap+angular)</h3>
 	<pagination total-items="50" ng-model="demand.page" ng-change="pageTo()" max-size="20" boundary-links="true"></pagination>


<!-- total-items 总页数 previous-text 上一页文本 -->
<!-- boundary-links 是否显示首尾按钮  -->
<!-- direction-links 是否显示上下按钮  -->
<!-- num-pages 显示总数的可选表达式 -->
<!-- max-size  显示最大页数 -->
    <section class="row">
        <section class="col-md-8 show-box">
            <h4>默认：</h4>
            <pagination total-items="60" ng-model="currentPage" ng-change="pageChanged()" previous-text="上一页" next-text="下一页"></pagination>
            <pagination boundary-links="true" total-items="60" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"> // 
            </pagination>
            <pagination direction-links="true" boundary-links="true" total-items="60" ng-model="currentPage"></pagination> 
            <pagination direction-links="false" total-items="60" ng-model="currentPage" num-pages="smallnumPages"></pagination>
            <pre>当前页：{{currentPage}}</pre>
            <hr>
            <pagination total-items="60" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
 
            <pre>当前：{{bigCurrentPage}}/{{numPages}}</pre>
        </section>
 
    </section>

    <!-- 表单验证 -->
    <h3>表单验证示例(ng-message)</h3>
    <div class="col-md-5 show-box">
        <form name="userForm" novalidate>
            <div class="form-group" ng-class="{'has-error':userForm.name.$touched && userForm.name.$invalid}">
                <label>用户名</label>
                <input type="text" name="name" class="form-control" ng-model="user.name" ng-minlength="5" ng-maxlength="10" required/>

                <div class="help-block" ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
                    <p ng-message="minlength">用户名最小长度5</p>
                    <p ng-message="maxlength">用户名最大长度10</p>
                    <p ng-message="required">用户名必填</p>
                </div>
            </div>

            <div class="form-group" ng-class="{'has-error':userForm.email.$touched && userForm.email.$invalid}">
                <label>邮箱</label>
                <input type="email" name="email" class="form-control" ng-model="user.email" ng-minlength="5" ng-maxlength="20" required/>
     
                <div class="help-block" ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                    <p ng-message="email">邮箱格式错误</p>
                    <p ng-message="minlength">邮箱最小长度5</p>
                    <p ng-message="maxlength">邮箱最大长度10</p>
                    <p ng-message="required">邮箱必填</p>
                </div>
                </div>

            <div class="form-group">
                <button type="submit" class="btn btn-info" ng-disabled="userForm.$invalid">提交</button>
            </div>
        </form>
    </div>

</div>

